/target
/out
/classes
/checkouts
/resources/public/js
/resources/public/css
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.iml
.idea
/Terms*.txt
*.log
/src/css
/src/css-guide
README-css.md
/resources/config
/resources/public
*.edn
